@model IFFCIConnect.ViewModel.SeekerAccountModel
@{
    ViewBag.Title = "Register";
    Layout = null;// "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<link href="~/Content/AlertScripts/Alert.css" rel="stylesheet" />
<script src="~/Content/AlertScripts/Alert.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
    #div_top_hypers {
        /*background-color: #eeeeee;*/
        display: inline;
       
    }

    #ul_top_hypers {
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        
    }
</style>
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
@*class="navbar navbar-default navbar-fixed-top"*@
<div style="background-color:#276294;margin-top:-49px;">
    <div class="container">
        <div class="navbar-header">

            @Html.ActionLink("IFCCI Job Portal", "Index", "Home", new { @class = "navbar-brand", style = "color:white" })
            <div id="div_top_hypers" style="margin:0;">
                <ul id="ul_top_hypers"  style="margin-left: 133px;">
                    @*<li>@Html.ActionLink("Home", "Index", new { Controller = "Home", Area = "Common" })</li>*@
                    @*<li>@Html.ActionLink("BrowseURLs", "Index", new { Controller = "BrowseURL", Area = "Common" })</li>*@

                    <li>@Html.ActionLink("Search a Job", "Index", "Home", new { @class = "a_top_hypers", style = "color:white" })</li>
                    <li>@Html.ActionLink("About Us", "Index", "Home", new { @class = "a_top_hypers", style = "color:white" })</li>
                    <li>@Html.ActionLink("Contact Us", "Index", "Home", new { @class = "a_top_hypers", style = "color:white" })</li>
                    @*<li>@Html.ActionLink("Administrator", "Index", new { Controller = "Home", Area = "Common" })</li>*@
                    <li>@Html.ActionLink("LOGIN", "Login", "Login", new { @class = "a_top_hypers", style = "color:white" })</li>
                    <li>@Html.ActionLink("JOB SEEKER", "Register", "Login", new { @class = "a_top_hypers", style = "color:white" })</li>
                    <li>@Html.ActionLink("EMPLOYER", "Register", "Login", new { @class = "a_top_hypers", style = "color:white" })</li>

                </ul>
            </div>
        </div>
       
        @*<div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", new { Controller = "Home", Area = "Common" })</li>
                <li>@Html.ActionLink("BrowseURLs", "Index", new { Controller = "BrowseURL", Area = "Common" })</li>

                <li>@Html.ActionLink("Search a Job", "Index", "Home", new { Area = "Common" })</li>
                <li>@Html.ActionLink("About Us", "Index", new { Controller = "Home", Area = "Common" })</li>
                <li>@Html.ActionLink("Contact Us", "Index", new { Controller = "Home", Area = "Common" })</li>
                <li>@Html.ActionLink("Administrator", "Index", new { Controller = "Home", Area = "Common" })</li>
                <li>@Html.ActionLink("LOGIN", "Login", "Login")</li>
                <li>@Html.ActionLink("JOB SEEKER", "Register", "Login")</li>
                <li>@Html.ActionLink("EMPLOYER", "Register", "Login")</li>
                <li>@Html.ActionLink("JOB SEEKER", "Index", new { Controller = "Register", Area = "Common" })</li>
            <li>@Html.ActionLink("EMPLOYER", "Index", new { Controller = "Home", Area = "Common" })</li>
            </ul>
           
        </div>*@
    </div>
</div>


<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h3>Welcome</h3>
            <p>Thank you  for signing up our job portal. Once your account is verified ,you can post the current opening at  your organization and  search a job seekers!</p>
            @*<input type="submit" name="" value="Login" />*@
            @Html.ActionLink("LOGIN", "Login", "Login", new { @class = "btnRegister" })
            @*<ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" id="Login-tab" data-toggle="tab" href="#Login" role="tab" aria-controls="Login" aria-selected="false">Login</a>
                    </li>
                </ul>*@
            <br />
        </div>
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">

                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Job Seeker</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Employer</a>
                </li>
                @*<li class="nav-item">
                        <a class="nav-link" id="Login-tab" data-toggle="tab" href="#Login" role="tab" aria-controls="Login" aria-selected="false">Login</a>
                    </li>*@
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    @*@using (Html.BeginForm("RegisterSeekerAccount", "Login", FormMethod.Post))
                        {*@
                    <h3 class="register-heading">Register as a Job SEEKER</h3>
                    <div class="row register-form">

                        @*@Html.AntiForgeryToken()*@
                        <div class="col-md-6">

                            <div class="form-group">

                                <input type="text" class="form-control" autocomplete="off" placeholder="Full Name *" id="TxtFullName" maxlength="20" />
                            </div>

                            <div class="form-group">

                                <input type="text" autocomplete="off" maxlength="10" name="txtEmpPhone" id="txtEmpPhone" class="form-control" placeholder="Your Phone *" />
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="ddlLocation">
                                    <option class="hidden"  selected disabled>Location*</option>
                                    <option value="India">India</option>
                                    <option value="US">US</option>
                                    <option value="UK">UK</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="DDLNationality">
                                    <option class="hidden" selected disabled >Nationality*</option>
                                    <option>India</option>
                                    <option>US</option>
                                    <option>UK</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="email" autocomplete="off" class="form-control" id="txtSeekerEmail" placeholder="Enter Your Email *" value="" maxlength="30" />
                            </div>
                            <div class="form-group">
                                <input type="password" autocomplete="off" class="form-control" id="txtconfirmPassword" placeholder="Confirm Password *" value="" maxlength="20" />
                            </div>


                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" autocomplete="off" maxlength="20" class="date form-control" readonly placeholder="Select the DOB(MM/DD/YYYY) *" value="" id="txtDOB" />
                            </div>
                            <div class="form-group">

                                <textarea class="form-control" maxlength="500" id="txtaddress" placeholder="Your Current Address *"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="text" autocomplete="off" class="form-control" id="txtCity" placeholder="Your City *" maxlength="30" value="" />
                            </div>

                            <div class="form-group">
                                <div class="maxl">
                                    <label class="radio inline">
                                        <input type="radio" name="gender" id="chkgender" value="male" checked>
                                        <span> Male </span>
                                    </label>
                                    <label class="radio inline">
                                        <input type="radio" name="gender" id="chkgender" value="female">
                                        <span>Female </span>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <input type="password" id="txtPassword" class="form-control" placeholder="Password *" value="" maxlength="20" />
                            </div>
                            <div class="form-group">
                                <input type="text" id="txtHomePhone" class="form-control" placeholder="Home Phone *" value="" maxlength="10" />
                            </div>


                        </div>
                        <div class="form-group">

                            <div class="btn btn-primary btn-sm float-left">
                                <span>Upload Resume</span>
                                <input type="file" id="ResumeFile"><input type="button" id="fileButton" class="btn" value="Upload File" />
                                @Html.Hidden("SeekerFileNameID")
                            </div>
                            <span style="color:red; font-size:11px;">Upload Resume files only in *.doc,*.docx or *.pdf format with maximum size of 6 MB.</span>
                        </div>
                        <input type="submit" class="btnRegister" id="BtnSeekerRegister" value="Register" style="margin-top:2px;margin-left:508px;" />
                    </div>

                </div>
                <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3 class="register-heading">Register as a Employer</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" id="txtEmployerFullName" class="form-control" placeholder="Your Full Name *" value="" />
                            </div>

                            <div class="form-group">

                                <input type="text" maxlength="50" name="GSTNumber" id="txtGSTNumber" class="form-control" placeholder="GST Number of the company *" value="" />
                            </div>
                            <div class="form-group">
                                <select class="form-control" id="DDLIndustry">
                                    <option class="hidden" selected disabled>Industry*</option>
                                    <option>IT</option>
                                    <option>Sales </option>
                                    <option>Commercial</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input type="text" id="txtCompanyLandlinePhone" autocomplete="off" class="form-control" placeholder="Landline Phone *" value="" />
                            </div>

                            <div class="form-group">
                                <select class="form-control">
                                    <option class="hidden" selected disabled id="DDLEmployess">Number of Employees*</option>
                                    <option>5-10</option>
                                    <option>10-100 </option>
                                    <option>100-500</option>
                                    <option>500-1000</option>
                                    <option>1000-10000</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="password" id="txtCompanyPassword" class="form-control" placeholder="Password *" value="" maxlength="20" />
                            </div>

                        </div>


                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" id="txtCompanyName" class="form-control" placeholder="Your Company Name *" value="" />
                            </div>
                            <div class="form-group">

                                <input type="text" id="txtDesignation" class="form-control" placeholder="Your Designation *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="email" autocomplete="off" class="form-control" id="txtEmployerEmail" placeholder="Enter Your Email *" value="" maxlength="30" />
                            </div>
                            <div class="form-group">
                                <select class="form-control">
                                    <option class="hidden" selected disabled id="DDLorganization">Organization Type*</option>
                                    <option>Public</option>
                                    <option>Private </option>
                                    <option>Other</option>
                                </select>
                            </div>
                            <div class="form-group">

                                <input type="text" id="txtCompanyCellPhone" class="form-control" placeholder="Cell Phone *" value="" />
                            </div>
                            <div class="form-group">
                                <input type="password" autocomplete="off" class="form-control" id="txtCompanyconfirmPassword" placeholder="Confirm Password *" value="" maxlength="20" />
                            </div>
                            @*<div class="form-group">
                                    <input type="text" id="txtCompanywebsiteURL" class="form-control" placeholder="Company Website URL *" value="" />
                                </div>*@



                            @*<div class="form-group">
                                    <textarea class="form-control"  id="txtCompanyDescription" placeholder="Company Description *"></textarea>

                                </div>*@



                        </div>
                        <div class="form-group">

                            <div class="btn btn-primary btn-sm float-left">
                                <span>Upload Company Logo*</span>
                                <input type="file" id="CompanyLogo"><input type="button" id="fileButtonCompanyLogo" class="btn" value="Upload Company Logo" />
                                @Html.Hidden("EmployerCompanyLogoID")
                            </div>
                            <span style="color:red; font-size:11px;">Upload Company Logo files only in *.JPEG,*.JPG or *.PNG format with maximum size of 6 MB.</span>
                        </div>
                        <input type="submit" class="btnRegister" value="Register" id="BtnbtnRegisterEmployer" style="        margin-top: 2px;
        margin-left: 508px;
" />
                    </div>
                </div>

                <!--Ligin Tab-->

            </div>
        </div>
    </div>

</div>
<style>
    .register {
        background: -webkit-linear-gradient(left, #3931af, #00c6ff);
        margin-top: 3%;
        padding: 3%;
    }

    .register-left {
        text-align: center;
        color: #fff;
        margin-top: 4%;
    }

        .register-left input {
            border: none;
            border-radius: 1.5rem;
            padding: 2%;
            width: 60%;
            background: #f8f9fa;
            font-weight: bold;
            color: #383d41;
            margin-top: 30%;
            margin-bottom: 3%;
            cursor: pointer;
        }

    .register-right {
        background: #f8f9fa;
        border-top-left-radius: 10% 50%;
        border-bottom-left-radius: 10% 50%;
    }

    .register-left img {
        margin-top: 15%;
        margin-bottom: 5%;
        width: 25%;
        -webkit-animation: mover 2s infinite alternate;
        animation: mover 1s infinite alternate;
    }

    @@-webkit-keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-20px);
        }
    }

    @@keyframes mover {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-20px);
        }
    }

    .register-left p {
        font-weight: lighter;
        padding: 12%;
        margin-top: -9%;
    }

    .register .register-form {
        padding: 10%;
        margin-top: 10%;
    }

    .btnRegister {
        float: right;
        margin-top: 10%;
        border: none;
        border-radius: 1.5rem;
        padding: 2%;
        background: #0062cc;
        color: #fff;
        font-weight: 600;
        width: 50%;
        cursor: pointer;
    }

    .register .nav-tabs {
        margin-top: 3%;
        border: none;
        background: #0062cc;
        border-radius: 1.5rem;
        width: 28%;
        float: right;
    }

        .register .nav-tabs .nav-link {
            padding: 2%;
            height: 34px;
            font-weight: 600;
            color: #fff;
            border-top-right-radius: 1.5rem;
            border-bottom-right-radius: 1.5rem;
        }

            .register .nav-tabs .nav-link:hover {
                border: none;
            }

            .register .nav-tabs .nav-link.active {
                width: 100px;
                color: #0062cc;
                border: 2px solid #0062cc;
                border-top-left-radius: 1.5rem;
                border-bottom-left-radius: 1.5rem;
            }

    .register-heading {
        text-align: center;
        margin-top: 8%;
        margin-bottom: -15%;
        color: #495057;
    }
</style>
<script>
    $(function () {
        $('.button-checkbox').each(function () {
            var $widget = $(this),
                $button = $widget.find('button'),
                $checkbox = $widget.find('input:checkbox'),
                color = $button.data('color'),
                settings = {
                    on: {
                        icon: 'glyphicon glyphicon-check'
                    },
                    off: {
                        icon: 'glyphicon glyphicon-unchecked'
                    }
                };

            $button.on('click', function () {
                $checkbox.prop('checked', !$checkbox.is(':checked'));
                $checkbox.triggerHandler('change');
                updateDisplay();
            });

            $checkbox.on('change', function () {
                updateDisplay();
            });

            function updateDisplay() {
                var isChecked = $checkbox.is(':checked');
                // Set the button's state
                $button.data('state', (isChecked) ? "on" : "off");

                // Set the button's icon
                $button.find('.state-icon')
                    .removeClass()
                    .addClass('state-icon ' + settings[$button.data('state')].icon);

                // Update the button's color
                if (isChecked) {
                    $button
                        .removeClass('btn-default')
                        .addClass('btn-' + color + ' active');
                }
                else {
                    $button
                        .removeClass('btn-' + color + ' active')
                        .addClass('btn-default');
                }
            }
            function init() {
                updateDisplay();
                // Inject the icon if applicable
                if ($button.find('.state-icon').length == 0) {
                    $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i> ');
                }
            }
            init();
        });
    });
</script>
<script type="text/javascript">
    function ClearSeekerRegistrationControls() {
        $("#TxtFullName").val("");
        $("#txtEmpPhone").val("");
        $("#ddlLocation").val(0);
        $("#DDLNationality").val(0);
        $("#txtSeekerEmail").val("");
        $("#txtconfirmPassword").val("");
        $("#txtDOB").val("");
        $("#txtaddress").val("");
        $("#txtCity").val("");
        $("#txtPassword").val("");
        $("#ResumeFile").val("");
        $("#txtHomePhone").val("")
    }

    function isValidDate(s) {
        var bits = s.split('/');
        var d = new Date(bits[2], bits[0] - 1, bits[1]);
        return d && (d.getMonth() + 1) == bits[0] && d.getDate() == Number(bits[1]);
    }
    function validateEmail(email) {
        var re = "/^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/";
        return re.test(email);
    }
    function IsEmail(email) {
  var regex = /^([a-zA-Z0-9_\.\-\+])+\@@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
  if(!regex.test(email)) {
    return false;
  }else{
    return true;
  }
    }

    function validatePassword() {
        var password = document.getElementById("txtPassword").value;
        var confirmPassword = document.getElementById("txtConfirmPassword").value;
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }
    function ValidateAndSaveSeekerRegistrationControls() {
        
        var gender = $("input[name='gender']:checked").val();//$('#chkgender').val();
        if (gender === 'male')
            gender = 'M';
        else
            gender = 'F';
        var FullName = $('#TxtFullName').val();
        var Phone = $('#txtEmpPhone').val();
        console.log("Phone: "+Phone);
        var Location = $('#ddlLocation').val();
        var Nationality = $('#DDLNationality').val();
       var email=$("#txtSeekerEmail").val();
        var confirmPassword=$("#txtconfirmPassword").val();
        var DOB=$("#txtDOB").val();
       var Address= $("#txtaddress").val();
       var City= $("#txtCity").val();
        var password = $("#txtPassword").val();
        var Homephone = $("#txtHomePhone").val();
        var ResumeFileName = $("#ResumeFile").val();
       // var regEx = /^(\+\d)*\s*(\(\d{3}\)\s*)*\d{3}(-{0,1}|\s{0,1})\d{2}(-{0,1}|\s{0,1})\d{2}$/;
        //console.log("Location "+Location);
        //var Phonefilter = /^((\+[1-9]{1,4}[ \-]*)|(\([0-9]{2,3}\)[ \-]*)|([0-9]{2,4})[ \-]*)*?[0-9]{3,4}?[ \-]*[0-9]{3,4}?$/;
        if (FullName == '' | FullName.length<6) {
            alert('Please enter  your FullName(atleast 6 character)');
            $('#TxtFullName').css('background-color', 'yellow');
            $('#TxtFullName').focus();
            return false;
        }
        if (Phone == '' || Phone.length<10) {
            alert('Please enter your valid Phone');
            $('#txtEmpPhone').css('background-color', 'yellow');
            $('#TxtFullName').css('background-color', '');
            $('#txtEmpPhone').focus();
            return false;
        }
        //if (!$.isNumeric(Phone)) {
        //    debugger;
        //    alert('Please enter the valid Phone');
        //    $('#txtEmpPhone').css('background-color', 'yellow');
        //    $('#txtEmpPhone').focus();
        //    return false;
        //}
        //else if (!Phone.match(/^(\+\d{1,3}[- ]?)?\d{10}$/)) {
        //    alert('Please enter the Valid Contact No');
        //    $('#txtEmpPhone').css('background-color', 'yellow');
        //   // $('#Designation').css('background-color', '');
        //    $('#txtEmpPhone').focus();
        //    return false;
        //}
        if (Location == 0 || Location==null) {
            alert('Please select Location');
            $('#ddlLocation').css('background-color', 'yellow');
            $('#ddlLocation').focus();
            return false;
        }
        if (Nationality == 0 || Nationality == null) {
            alert('Please select Nationality');
            $('#DDLNationality').css('background-color', 'yellow');
            $('#DDLNationality').focus();
            return false;
        }
        if (email == '') {
            alert('Please enter your Email');
            $('#txtSeekerEmail').css('background-color', 'yellow');
            $('#txtaddress').css('background-color', '');
            $('#txtSeekerEmail').focus();
            return false;
        }
        if (IsEmail(email) == false) {
            alert('Please enter your Email');
            $('#txtSeekerEmail').css('background-color', 'yellow');
            $('#txtaddress').css('background-color', '');
            $('#txtSeekerEmail').focus();
            return false;
        }
        //if (!validateEmail(email)) {
        //    alert('Please enter your Email');
        //    $('#txtSeekerEmail').css('background-color', 'yellow');
        //    $('#txtaddress').css('background-color', '');
        //    $('#txtSeekerEmail').focus();
        //    return false;
        //}
        if (confirmPassword == '' || confirmPassword.length<8) {
            alert('Please enter confirm 8 character Password');
            $('#txtconfirmPassword').css('background-color', 'yellow');
            $('#txtconfirmPassword').focus();
            return false;
        }
        if (DOB == '') {
            alert('Please enter your DOB');
            $('#txtDOB').css('background-color', 'yellow');
            $('#txtEmpPhone').css('background-color', '');
            $('#txtDOB').focus();
            return false;
        }
        if (Address == '') {
            alert('Please enter your Address');
            $('#txtaddress').css('background-color', 'yellow');
            $('#txtDOB').css('background-color', '');
            $('#txtaddress').focus();
            return false;
        }
        if (City == '') {
            alert('Please enter your City');
            $('#txtCity').css('background-color', 'yellow');
            $('#txtCity').focus();
            return false;
        }
        if (password == '' || password.length<8) {
            alert('Please enter your 8 character password');
            $('#txtPassword').css('background-color', 'yellow');
            $('#txtPassword').focus();
            return false;
        }
        if (ResumeFileName == '') {
            alert('Please Upload Resume');
            $('#ResumeFile').css('background-color', 'yellow');
            $('#ResumeFile').focus();
            return false;
        }
        if (Homephone == '') {
            alert('Please Enter the Home Phone');
            $('#txtHomePhone').css('background-color', 'yellow');
            $('#txtHomePhone').focus();
            return false;
        }
        if (password != confirmPassword) {
            alert("Passwords do not match.");
            $('#txtPassword').css('background-color', 'yellow');
            $('#txtconfirmPassword').css('background-color', 'yellow');
            $('#txtPassword').focus();
            return false;
        }


        debugger;
        var SeekerAccountsDetails = {};
        SeekerAccountsDetails.Full_Name = FullName.trim();
        SeekerAccountsDetails.contact_number = Phone.trim();
        SeekerAccountsDetails.Nationality = $('#DDLNationality').val();// "INDIA";// Nationality;
        SeekerAccountsDetails.Location = $('#ddlLocation').val();
        SeekerAccountsDetails.email = email.trim();
        SeekerAccountsDetails.confirmPassword = confirmPassword.trim();
        SeekerAccountsDetails.date_of_birth = DOB;
        SeekerAccountsDetails.gender = gender;
        SeekerAccountsDetails.Current_Address = Address;
        SeekerAccountsDetails.City = City.trim();
        SeekerAccountsDetails.password = password.trim();
        SeekerAccountsDetails.Home_Phone = Homephone.trim();
        SeekerAccountsDetails.ResumeFileName = $("#SeekerFileNameID").val();
        $.ajax({
                type: "POST",
                url:'@Url.Action("RegisterSeekerAccount", "Login")',
            data: '{SeekerAccountsDetails:' + JSON.stringify(SeekerAccountsDetails) + '}',
                contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {

                if (result != undefined && result != null) {

                    alert(result);

                }
                else {
                    Alert("Invalid Registration !");
                    //location.reload();
                }
            },
            failure: function (x, y, z) {
                alert("Failure!");
            },
            error: function (a, b, c) {

                alert("Error!");
            }
            });
    }

    function ValidateAndSaveEmployerRegistrationControls() {


        var FullName = $('#txtEmployerFullName').val();
        var GSTNumber = $('#txtGSTNumber').val();

        var LandlinePhone = $('#txtCompanyLandlinePhone').val();
        console.log("LandlinePhone: " + LandlinePhone);

        var Industry = $('#DDLIndustry').val();
        var CountEmployess = $('#DDLEmployess').val();
        var Employeremail = $("#txtEmployerEmail").val();
        var EmployerCompanyPassword = $("#txtCompanyPassword").val();
        var CompanyName = $("#txtCompanyName").val();
        var Designtion = $("#txtDesignation").val();
        var organization = $("#DDLorganization").val();
        var CompanyconfirmPassword = $("#txtCompanyconfirmPassword").val();
        var CompanyCellPhone = $("#txtCompanyCellPhone").val();
        var LogoFileName = $("#CompanyLogo").val();
       // var regEx = /^(\+\d)*\s*(\(\d{3}\)\s*)*\d{3}(-{0,1}|\s{0,1})\d{2}(-{0,1}|\s{0,1})\d{2}$/;
        //console.log("Location "+Location);
        //var Phonefilter = /^((\+[1-9]{1,4}[ \-]*)|(\([0-9]{2,3}\)[ \-]*)|([0-9]{2,4})[ \-]*)*?[0-9]{3,4}?[ \-]*[0-9]{3,4}?$/;
        if (FullName == '' | FullName.length<6) {
            alert('Please enter  your FullName(atleast 6 character)');
            $('#txtEmployerFullName').css('background-color', 'yellow');
            $('#txtEmployerFullName').focus();
            return false;
        }
        if (CompanyName == '' | CompanyName.length < 5) {
            alert('Please enter  your Company Name(atleast 5 character)');
            $('#txtCompanyName').css('background-color', 'yellow');
            $('#txtEmployerFullName').css('background-color', '');
            $('#txtCompanyName').focus();
            return false;
        }
        if (GSTNumber == '' || GSTNumber.length < 10) {
            alert('Please enter your valid GST Number');
            $('#txtGSTNumber').css('background-color', 'yellow');
            $('#txtCompanyName').css('background-color', '');
            $('#txtGSTNumber').focus();
            return false;
        }
        if (Designtion == '' || Designtion.length < 6) {
            alert('Please enter your valid Designtion(atleast 6 character)');
            $('#txtDesignation').css('background-color', 'yellow');
            $('#txtGSTNumber').css('background-color', '');
            $('#txtDesignation').focus();
            return false;
        }

        if (Employeremail == '') {
            alert('Please enter your valid Email');
            $('#txtEmployerEmail').css('background-color', 'yellow');
            $('#txtDesignation').css('background-color', '');
            $('#txtEmployerEmail').focus();
            return false;
        }
        if (IsEmail(Employeremail) == false) {
            alert('Please enter your Valid Email');
            $('#txtEmployerEmail').css('background-color', 'yellow');
            $('#txtDesignation').css('background-color', '');
            $('#txtEmployerEmail').focus();
            return false;
        }
        if (LandlinePhone == '' || LandlinePhone.length<10) {
            alert('Please enter your valid Landline Phone');
            $('#txtCompanyLandlinePhone').css('background-color', 'yellow');
            $('#txtEmployerEmail').css('background-color', '');
            $('#txtCompanyLandlinePhone').focus();
            return false;
        }

        if (CountEmployess == 0 || CountEmployess==null) {
            alert('Please select Number Of Employee');
            $('#DDLEmployess').css('background-color', 'yellow');
            $('#txtCompanyLandlinePhone').css('background-color', '');
            $('#DDLEmployess').focus();
            return false;
        }
        if (Industry == 0 || Industry == null) {
            alert('Please select Industry');
            $('#DDLIndustry').css('background-color', 'yellow');
            $('#DDLIndustry').focus();
            return false;
        }
        if (organization == 0 || organization == null) {
            alert('Please select Organization');
            $('#DDLorganization').css('background-color', 'yellow');
            $('#DDLorganization').focus();
            return false;
        }
        if (CompanyCellPhone == '' || CompanyCellPhone.length < 10) {
            alert('Please enter your valid  Phone Number');
            $('#txtCompanyCellPhone').css('background-color', 'yellow');
            $('#DDLIndustry').css('background-color', '');
            $('#txtCompanyCellPhone').focus();
            return false;
        }

        if (EmployerCompanyPassword == '' || EmployerCompanyPassword.length < 8) {
            alert('Please enter your 8 character password');
            $('#txtCompanyconfirmPassword').css('background-color', 'yellow');
            $('#txtCompanyCellPhone').css('background-color', '');
            $('#txtCompanyconfirmPassword').focus();
            return false;
        }
        if (CompanyconfirmPassword == '' || CompanyconfirmPassword.length<8) {
            alert('Please enter confirm 8 character Password');
            $('#txtCompanyconfirmPassword').css('background-color', 'yellow');
            $('#txtCompanyconfirmPassword').focus();
            return false;
        }



        if (EmployerCompanyPassword != CompanyconfirmPassword) {
            alert("Passwords do not match.");
            $('#txtCompanyPassword').css('background-color', 'yellow');
            $('#txtCompanyconfirmPassword').css('background-color', 'yellow');
            $('#txtCompanyPassword').focus();
            return false;
        }


        debugger;
        var EmployerAccountsDetails = {};
        EmployerAccountsDetails.Full_Name = FullName.trim();
        EmployerAccountsDetails.Email = Employeremail.trim();
        EmployerAccountsDetails.Landline_Phone = LandlinePhone.trim();
        EmployerAccountsDetails.Industry = $('#DDLIndustry').val();
        EmployerAccountsDetails.Org_Type = $('#DDLorganization').val();
        EmployerAccountsDetails.Contact_Number = CompanyCellPhone.trim();
        EmployerAccountsDetails.Company_Name = CompanyName.trim();
        EmployerAccountsDetails.Number_of_Employees = $('#DDLEmployess').val();
        EmployerAccountsDetails.GST_Number =GSTNumber.trim();
        EmployerAccountsDetails.Designation = Designtion.trim();
        EmployerAccountsDetails.Password = EmployerCompanyPassword.trim();
        EmployerAccountsDetails.Company_logo = $("#EmployerCompanyLogoID").val();
        $.ajax({
                type: "POST",
                url:'@Url.Action("RegisterEmployerAccount", "Login")',
            data: '{EmployerAccountsDetails:' + JSON.stringify(EmployerAccountsDetails) + '}',
                contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (result) {

                if (result != undefined && result != null) {

                    alert(result);

                }
                else {
                    Alert("Invalid Registration !");
                    //location.reload();
                }
            },
            failure: function (x, y, z) {
                alert("Failure!");
            },
            error: function (a, b, c) {

                alert("Error!");
            }
            });
    }
    $("#txtEmpPhone").on("keypress keyup blur", function (event) {
        //alert("type");
        $(this).val($(this).val().replace(/[^\d].+/, ""));
        if ((event.which < 48 || event.which > 57)) {
            event.preventDefault();
        }
    });
    $("#fileButton").click(function () {

        if ($("#ResumeFile").get(0).files.length == 0) {
            alert("Sorry!! Choose your Resume File");
            return false;
        }
        var files = $("#ResumeFile").get(0).files;
            var fileData = new FormData();

            for (var i = 0; i < files.length; i++) {
                fileData.append("fileInput", files[i]);
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("UploadSeekerFiles", "Login")',//"../HomeLoan/UploadFiles",
                dataType: "json",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result, status, xhr) {

                    $("#SeekerFileNameID").val(result.Filename);
                    alert("Your File " + $("#SeekerFileNameID").val()+" has been uploaded");


                },
                error: function (xhr, status, error) {
                    alert(status);
                }
            });
    });
    //<!--Upload Company Logo-->



    $("#fileButtonCompanyLogo").click(function () {

        if ($("#CompanyLogo").get(0).files.length == 0) {
            alert("Sorry!! Choose your Resume File");
            return false;
        }
        var files = $("#CompanyLogo").get(0).files;
            var fileData = new FormData();

            for (var i = 0; i < files.length; i++) {
                fileData.append("fileInput", files[i]);
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("UploadCompanyLogo", "Login")',//"../HomeLoan/UploadFiles",
                dataType: "json",
                contentType: false, // Not to set any content header
                processData: false, // Not to process data
                data: fileData,
                success: function (result, status, xhr) {

                    $("#EmployerCompanyLogoID").val(result.Filename);
                    alert("Your Company Logo  " + $("#EmployerCompanyLogoID").val()+" has been uploaded");


                },
                error: function (xhr, status, error) {
                    alert(status);
                }
            });
    });
    $('#BtnbtnRegisterEmployer').click(function () {
    });
    $("#ResumeFile").change(function () {

        var files = $("#ResumeFile").get(0).files;
        var fileData = new FormData();
        for (var i = 0; i < files.length; i++) {
            fileData.append("ResumeFile", files[i]);
        }
        // Get uploaded file extension
        var extension = $("#ResumeFile").val().split('.').pop().toLowerCase();
        // Create array with the files extensions that we wish to upload
        var validFileExtensions = ['doc', 'docx', 'PDF','pdf'];
        //Check file extension in the array.if -1 that means the file extension is not in the list.
        if ($.inArray(extension, validFileExtensions) == -1) {
            alert("Sorry!! Upload only 'DOC','DOCX','PDF' file");
            $("#ResumeFile").val('');
            //$("#fileButton").hide();
            return false;
        }
        else {
            // Check and restrict the file size to 128 KB.
            if ($(this).get(0).files[0].size / (1024 * 1024) > 2) {
                alert("Sorry!! Max allowed file size is 6 MB");
                // Clear fileuload control selected file
                $(this).replaceWith($(this).val('').clone(true));
                //Disable Submit Button
                //   $('#Apply').prop('disabled', true);
                return false;
            }
            else {
                //$("#fileButton").show();
            }
        }

    });

    $("#CompanyLogo").change(function () {

        var files = $("#CompanyLogo").get(0).files;
        var fileData = new FormData();
        for (var i = 0; i < files.length; i++) {
            fileData.append("CompanyLogo", files[i]);
        }
        // Get uploaded file extension
        var extension = $("#CompanyLogo").val().split('.').pop().toLowerCase();
        // Create array with the files extensions that we wish to upload
        var validFileExtensions = ['JPEG', 'jpeg', 'JPG', 'jpg','PNG', 'png'];
        //Check file extension in the array.if -1 that means the file extension is not in the list.
        if ($.inArray(extension, validFileExtensions) == -1) {
            alert("Sorry!! Upload only 'JPEG', 'JPG', 'PNG', ' file");
            $("#CompanyLogo").val('');
            //$("#fileButton").hide();
            return false;
        }
        else {
            // Check and restrict the file size to 128 KB.
            if ($(this).get(0).files[0].size / (1024 * 1024) > 2) {
                alert("Sorry!! Max allowed file size is 6 MB");
                // Clear fileuload control selected file
                $(this).replaceWith($(this).val('').clone(true));
                //Disable Submit Button
                //   $('#Apply').prop('disabled', true);
                return false;
            }
            else {
                //$("#fileButton").show();
            }
        }

    });


    $('#BtnSeekerRegister').click(function () {

        ValidateAndSaveSeekerRegistrationControls();

    });
    $('#BtnbtnRegisterEmployer').click(function () {

        ValidateAndSaveEmployerRegistrationControls();

    });


    $(document).ready(function () {
        $('#txtDOB').datetimepicker({
            dateFormat: 'mm/dd/yy',
            timepicker: false,
            closeOnDateSelect: true,
            pickTime: false,
            //showOn: "both",
            //buttonImage: "b_calendar.png",
            //buttonImageOnly: true,
            //buttonText: "Select date",
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0"
        });
        //$("#txtEmpPhone").keyup(function () {
        //    var keyCode = e.which ? e.which : e.keyCode
        //    debugger;
        //    if (!(keyCode < 48 && keyCode > 57)) {
        //        $('#txtEmpPhone').css('background-color', 'yellow');
        //        $('#txtEmpPhone').focus();
        //        return false;
        //    } else {
        //        $('#txtEmpPhone').css('background-color', 'white');
        //        //$('#txtEmpPhone').focus();
        //    }
        //});
        //$("#txtEmpPhone").bind("keypress", function (e) {
        //    var keyCode = e.which ? e.which : e.keyCode
        //    debugger;
        //    if (!(keyCode < 48 && keyCode > 57)) {
        //        $('#txtEmpPhone').css('background-color', 'yellow');
        //        $('#txtEmpPhone').focus();
        //        return false;
        //    } else {
        //        $('#txtEmpPhone').css('background-color', 'white');
        //        //$('#txtEmpPhone').focus();
        //    }
        //});
    });
</script>
<link href="~/Content/css/jquery.datetimepicker.min.css" rel="stylesheet" />
<script src="~/Content/js/jquery.datetimepicker.js"></script>
